#################
## Remove /bin ##
#################
/bin

#################
## Remove .class ##
#################
.class

#############
## Windows ##
#############
Thumbs.db
Desktop.ini

#########
## Mac ##
#########
.DS_Store
